<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="com.crazysnoopy.soundsystem" />-->
    <!--<bean id="cdPlayer" class="com.crazysnoopy.soundsystem.CDPlayer">
        <constructor-arg ref="compactDisc"/>
    </bean>-->
    <bean id="compactDisc" class="com.crazysnoopy.soundsystem.SgtPeppers"/>


    <bean id="cdPlayer" class="com.crazysnoopy.soundsystem.CDPlayer" c:compactDisk-ref="compactDisc"/>

    <!--<bean id="compactDiscArg" class="com.crazysnoopy.soundsystem.BlankDisc">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/>
        <constructor-arg value="The Beatles" />
    </bean> -->
    <!--<bean id="compactDiscArg" class="com.crazysnoopy.soundsystem.BlankDisc" c:title="Sgt. Pepper's Lonely Hearts Club Band" c:artist="The Beatles"/>-->

    <bean id="compactDiscArg" class="com.crazysnoopy.soundsystem.BlankDisc">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/>
        <constructor-arg value="The Beatles" />
        <constructor-arg>
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </list>
        </constructor-arg>
    </bean>
</beans>